.sh-icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;

    &.sh-i-location-uk {
        background-image: url("./../assets/location-uk.png");
    }

    &.sh-i-menu-bar {
        background-image: url("./../assets/menu-bars.png");
    }

    &.sh-i-icon-add-active {
        background-image: url("./../assets/icon-add-active.png");
    }

    &.sh-i-edit {
        background-image: url("./../assets/edit.png");
    }

    &.sh-i-edit-invert {
        background-image: url("./../assets/edit-invert.png");

    }

    &.sh-i-selected {
        background-image: url("./../assets/selected.png");

    }
}